body {
    background-image: url("../hexellence.png");
}

header {
    background-color: #aaaaaa;
    border: #cccccc;
    width: 75%;
    margin: auto;
}

header h1 {
    background-color: #4aaaa5;
    width:25%;
    float: left;
}

header navbar {
    float: right;
    width: 20%
}

.section {
    background-color: white;
    width: 75%;
    float: center;
    margin: auto;
}

img::after {
    content: "";
    clear: both;
}