body {
    background-image: url("../hexellence_@2X.png");
}

header {
    background-color: #aaaaaa;
    border: #cccccc;
    width: 75%;
    margin: 0 auto;
}

header h1 {
    background-color: #4aaaa5;
    width:40%;
    float: left;
    margin: 0 auto;
}

.navbar {
    float: right;
    height: 40px;
}

h2 {
    clear: both;
    text-align: center;
}

.section {
    background-color: white;
    width: 75%;
    float: center;
    margin: auto;
}

img::after {
    content: "";
    clear: both;
}